# Forces all text files in the repository to use LF.
* text=auto eol=lf


### Example Rust
# Ignore docs and editor config
# docs/** linguist-vendored
# .vscode/** linguist-vendored

# Ignore front-end / misc
# *.html linguist-vendored
# *.js linguist-vendored

# Tell Linguist what IS the project
# src/** linguist-detectable
# crates/** linguist-detectable

# Rust Force as the main
# *.rs linguist-detectable

# Extra guarantee
# *.rs linguist-language=Rust
