# Forces all text files in the repository to use LF.
* text=auto eol=lf

# Ignore front-end / misc
# *.html linguist-vendored
# *.js linguist-vendored

# Rust Force as the main
# *.sh linguist-detectable

# Extra guarantee
# *.sh linguist-language=Shell
