# Linux
# -------------------------------------------------------------
*~
*.bak

# JetBrains
# -------------------------------------------------------------
/.idea

# Rust taken https://github.com/github/gitignore/blob/main/Rust.gitignore
# -------------------------------------------------------------
/target

# Project
# -------------------------------------------------------------
tmp/
ANNOTATIONS.txt
