<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>smart-chroot</title>
</head>
<body>
  <h1>smart-chroot</h1>
  <p><a href="smart-chroot/latest">Run latest loader</a></p>
  <p><a href="https://github.com/williamcanin/smart-chroot">GitHub Project</a></p>
</body>
</html>
